.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ececec;
  z-index: 100;
}

.header__inner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ロゴ */
.header__logo {
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 0;
}

/* ナビ（PC） */
.header__nav {
  display: flex;
  gap: 24px;
}

.header__nav a {
  font-size: 12px;
  color: #333;
}

.header__nav a:hover {
  opacity: 0.6;
}

/* ===== ハンバーガー ===== */
.hamburger {
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  width: 20px;
  height: 2px;
  background: #333;
}

.mobile-menu {
  position: fixed;
  top: 60px;
  right: 0;

  width: 200px;
  background: #fff;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-end; /* ←これが本体 */
}

.mobile-menu a {
  text-align: right;
  width: 100%;
}

/* ===== モバイル ===== */
@media (max-width: 768px) {
  .header__inner{
    padding: 20px 30px;
  }

  .header__nav {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background: #fff;
    padding: 20px 0;
  }

  .mobile-menu a {
    text-decoration: none;
    color: #333;
  }
}